# IPython Notebook
.ipynb_checkpoints/

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

=======
# R Information
.Rproj.user
.RData
.Rhistory

# Individual Data Files
*.csv
*.zip
*.xls
*.xlsx
