
# Data filest to ignore
*.csv
*.zip
*.xls
*.xlsx
*.DS_Store

#data/*
ShinyApps/LeafletApp/data/*.csv
ShinyApps/LeafletApp/data/Shapefiles/*
ShinyApps/LeafletApp/data/processed/*
#rscripts/*.csv
#rscripts/shapefiles/*
#rscripts/shrinked_data/*
